{:datoms 753814,
 :attrs
 {:release/script {:count 11434},
  :label/type {:count 870},
  :artist/sortName {:count 4601},
  :abstractRelease/artists {:count 10544},
  :release/packaging {:count 603},
  :abstractRelease/type {:count 10024},
  :artist.gender/name {:count 3},
  :release/name {:count 11434},
  :release/artists {:count 11806},
  :artist/name {:count 4601},
  :label/endYear {:count 139},
  :medium/position {:count 11778},
  :artist/type {:count 4262},
  :db/unique {:count 9},
  :abstractRelease/name {:count 10180},
  :label/startMonth {:count 37},
  :script/name {:count 159},
  :abstractRelease/gid {:count 10180},
  :track/name {:count 98502},
  :track/artists {:count 101405},
  :release/country {:count 11198},
  :artist/country {:count 2984},
  :artist/gid {:count 4613},
  :db/valueType {:count 94},
  :release/gid {:count 11434},
  :mbrainz.initial-import/batch-id {:count 705},
  :artist/endDay {:count 802},
  :label/country {:count 1077},
  :db/txInstant {:count 711},
  :artist/startYear {:count 2959},
  :db/tupleType {:count 2},
  :release/labels {:count 8756},
  :artist/endMonth {:count 830},
  :release/language {:count 11290},
  :medium/format {:count 9473},
  :release/day {:count 901},
  :release/status {:count 11304},
  :label/sortName {:count 1207},
  :db/isComponent {:count 2},
  :language/code {:count 7777},
  :db/fulltext {:count 9},
  :release.type/name {:count 5},
  :artist.type/name {:count 3},
  :country/code {:count 257},
  :language/name {:count 7777},
  :artist/endYear {:count 1370},
  :release/month {:count 2094},
  :release/artistCredit {:count 11434},
  :label/gid {:count 1207},
  :country/name {:count 257},
  :abstractRelease/artistCredit {:count 10180},
  :label/startDay {:count 24},
  :release.packaging/name {:count 7},
  :db/cardinality {:count 94},
  :db/doc {:count 105},
  :track/duration {:count 83841},
  :db/ident {:count 8374},
  :artist/gender {:count 1635},
  :medium.format/name {:count 34},
  :track/position {:count 98502},
  :medium/trackCount {:count 11778},
  :release/year {:count 11434},
  :script/code {:count 159},
  :db.install/valueType {:count 15},
  :label/endMonth {:count 12},
  :release/media {:count 11778},
  :label/endDay {:count 8},
  :db.install/partition {:count 3},
  :label/startYear {:count 367},
  :label.type/name {:count 7},
  :label/name {:count 1207},
  :db.install/attribute {:count 94},
  :medium/tracks {:count 98502},
  :fressian/tag {:count 15},
  :release/barcode {:count 536}}}